*{
    /* font-family: "Roboto"; */
    /* font-family: "Inter"; */
    font-family: "Ubuntu Sans", sans-serif;
    /* font-weight: bold; */
    font-weight: 500;
    font-size: 20px;
}
:root {
    --one-color: #A93226;
    --two-color: #000000;
    --three-color: #FFFFFF;
    --four-color: #283747;
    --five-color: #B3B6B7;
    --six-color: #2980B9;
    --seven-color : #1E8449;
    --eight-color: #FF9801;

}
/* navbar group */
body {
    min-width: 100%;
    min-height: 746px;
    /* border: 2px solid green; */
}
.coffeeLogo {
    width: 40px;
}
